<!DOCTYPE html>
<html>
<head>
  <title>AdminPanel</title>
  <%= stylesheet_link_tag    "admin_panel/application", :media => "all" %>
  <%= javascript_include_tag "admin_panel/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
