<h1>Admin</h1>

<ul>
    <li><%= link_to 'Slider', sliders_path %></li>
    <li><%= link_to 'Featured products', featured_products_path %></li>
    <li><%= link_to 'Inspiration', inspirations_path %></li>
    <li><%= link_to 'Shipping', shippings_path %></li>
</ul>
